@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,200i,500,500i,700,700i&subset=latin-ext');

$font-family-base: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight-base: 500;
$font-weight-heavy: 700;
$font-weight-light: 200;
$font-weight-base-italics: 500i;
$font-weight-heavy-italics: 700i;
$font-weight-light-italics: 200i;