<ngx-loading-bar [includeSpinner]="false"></ngx-loading-bar>
<nav class="navbar navbar-expand-lg navbar-light bg-dark drop-shadow">
  <a class="navbar-brand" href="/home">TAG COMMUNITY</a>
  <button class="btn btn-sm btn-outline-dark" (click)="toggleSidebar()">
    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ng-container *ngTemplateOutlet="navbarItems">
    </ng-container>
  </div>
</nav>
<div class="sidebar ng-leave" id="sidebar">
  <div class="sidebar-margin">
    <ng-container *ngTemplateOutlet="navbarItems">
    </ng-container>
  </div>
</div>
<ng-template #navbarItems>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/maps">MAPS</a>
    </li>
  </ul>
</ng-template>
<div class="container drop-shadow">
  <div class="row justify-content-start">
    <router-outlet></router-outlet>
    <div class="footer drop-shadow">
      <p>
        <span class="responsive-footer">Lesley van der Lee (l.lee@tayo.ws) -</span>
        <a>Discord</a> -
        <a>GitHub</a> -
        <a>Donate</a>
      </p>
    </div>
  </div>
</div>