@import "../sass/colors";
@import "../sass/fonts";

a {
    color: $white !important;
    font-weight: $font-weight-base;
}

.btn {
    color: $white;
    border-color: $white;
    display: block;
}

.sidebar {
    transition: 0.5s ease all;
    background-color: $bg-dark;
    position: fixed;
    top: 62px;
    bottom: 0px;
    right: 0px;
    min-width: 200px;
    width: 0px;
    display: block;
}

.sidebar.ng-enter {
    min-width: 180px;
    // width: auto !important;
}

.sidebar.ng-leave {
    min-width: 0px !important;
    width: 0px !important;
}

.sidebar-margin {
    margin: 0.5rem;
}

.nav-item {
    min-width: 180px !important;
}

@media (min-width: 992px){
    .btn {
        display: none;
    }
    .sidebar {
        display: none;
    }
}