@import "../sass/colors";
@import "../sass/fonts";

a {
    color: $white !important;
    font-weight: $font-weight-base;
}

.btn {
    color: $white;
    border-color: $white;
    display: block;
}

.sidebar {
    background-color: $bg-dark;
    position: fixed;
    top: 62px;
    bottom: 0px;
    right: 0px;
    min-width: 200px;
    width: auto;
    padding: 0.5rem;
    display: block;
}

.sidebar.ng-enter {
    transition: 0.5s ease all;
    width: 0px;
}

.sidebar.ng-enter.ng-enter-active {
    min-width: 180px;
    width: auto;
}

.fade.ng-leave {
    transition: 0.5s ease all;
    min-width: 180px;
    width: auto;
}

.fade.ng-leave.ng-leave-active {
    width: 0px;
}

@media (min-width: 992px){
    .btn {
        display: none;
    }
    .sidebar {
        display: none;
    }
}